*::before,
::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: inherit;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00ffcc, #00BB55, rgb(7, 152, 189));
}

.main {
    justify-content: center;
    min-height: 100vh;
    align-content: center;
}

.container {
    overflow: hidden;
    display: grid;
    /* grid-column: 1 / -1; */
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    align-content: center;
}

.container>div {
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    padding: 30px;
    background-color: rgba(255, 255, 255, .5);
}

.button-restart {
    size: 10px;
}

.button-start,
.button-restart {
    /* padding-bottom: 5px; */
    grid-column: span 3;
    width: auto;
}

.button-restart:hover {
    font-size: large;
    background-color: rgba(255, 255, 255, 0.9);
}

.button-start:hover {
    font-size: large;
    background-color: rgba(255, 255, 255, 0.9);
}

.row:hover {
    /* display: none; */
    background-color: rgba(255, 255, 255, 0.9);
}